main{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20%;
}
main > section > button:hover{
    cursor: pointer;
    background-color: rgb(35, 95, 207);
    color: white;
    transform: scale(1.2, 1.2);
}
.overlay{
    display: flex;
    justify-content: center; 
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.overlay > nav{
    position: relative;
}
.overlay > nav > span{
    position: absolute;
    top: 2vh;
    left: 50vw;
    transform: translate(-50%, 0);
    font-size: 35px;
    font-weight: bold;
    color: #c4c4c4;
    cursor: pointer;
}
.overlay > nav > span:hover{
    color: #000000;
}
.hidden{
    display: none;
}